* {
    overflow: hidden;
}

body {
    background-image: url(images/haromszog.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.button {
    text-decoration: none;
    color: white;
    background-color: blue;
    border-radius: 10px;
    padding: 10px;
    opacity: 0.8;
    transition: all 0.5s;
}

.button:hover {
    opacity: 1;
}